.experience p.section-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.timeline-entry {
  width: 75vw;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role-card {
  margin: 15px auto;
}

.fas {
  margin-right: 15px;
}
